{% extends 'app/base.html' %}
{% block content %}
{% load widget_tweaks %}
<div class="form-container">
    <div class="form-title">Password Reset</div>
    {% if user.is_authenticated %}
        {% include "accout/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="form-text">パスワードリセット用メールを送信します。</div>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form.email |add_class:"form-box" }}
        <button class="form-button" type="submit">送信</button>
    </form>
</div>
{% endblock %}